.Carouselmain img{
    padding-top: 80px;
    object-fit: cover;
    height: 500px;
    width: 100%;
    position: relative;
    p h3 {
        color: black;
    }
}

.Carouselmain {
    height: 500px;
    width: 100%;
}



@media screen and (max-width: 740px) {
    .Carouselmain img{
        padding-top: 70px;
        object-fit: cover;
    }
    .Carouselmain {
        width: auto;
    }
    }