.Carouselmain img {
    padding-top: 80px;
    object-fit: cover;
    height: 500px;
    width: 100%;
    position: relative;
    p h3 {
        color: black;
    }
}

div.Carouselmain {
    height: 500px;
    width: 100%;
    p {
        color: black;
        text-shadow: 1px 1px 1px white;

    }
    h3 {
        color: white;
        text-shadow: 2px 2px 2px black;
    }
}


@media screen and (max-width: 740px) {
    .Carouselmain img {
        padding-top: 70px;
        object-fit: cover;
        width: 100%;
    }

    .Carouselmain {
        width: 100%;
    }
}