#formulario {
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 40%;
    margin: auto;
}

div #formulario {
    height: 250px;
    object-fit: contain;
}

.error-captcha {
    height: 100px;
    width: 100%;
}

textarea#textarea {
    height: 70px;
    width: 15rem;

}

#button {
    background-color: black;
}