.grid-container img {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
  }

.button-container{
  button{
    background-color: #2c1bad;
    color: #fff;
    border: none;
    cursor: pointer;
  };
  button:hover {
    background-color: #52489c;
  }
}


@media only screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
}