  div#video {
    object-fit: cover;
    border: none;
    color: white;
  }

  section#video-contact {
    display: flex;
  }

  #video.backgroundvideo {
    width: auto;
    background-color: rgba(204, 201, 198, 0.301);
  }

  iframe.backgroundvideo {
    width: 600px;
    height: 400px;
  }


  div#videosection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    }

  @media screen and (max-width: 1500px) {
    section#video-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    iframe.backgroundvideo {
      width: 400px;
      height: 200px;
    }

  }